@import './base.css';

#app-layout {
  color: #2c3e50;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.content-page {
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
